<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <img src="./images/logo-mercado-liebre.svg">
    <p>
      Lugar para poner la barra de búsqueda
    </p>
    <div class="hand">
      <i class="fas fa-hand-holding-usd"></i>
    </div>
    <p>
      Comprá en cuotas y sin tarjeta de crédito
    </p>
    <nav>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="#">Creá tu cuenta</a></li>
        <div class="account">
          <i class="far fa-id-card"></i>
        </div>
        <li><a href="#">Ingresá</a></li>
        <div class="login">
          <i class="fas fa-sign-in-alt"></i>
        </div>

        <li><a href="#">Mis compras</a></li>
        <div class="shopping-basket">
          <i class="fas fa-shopping-basket"></i>
        </div>
      </ul>
      <div class="Burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>


  </header>
  <main>
    <p>
      Basado en tu última visita
    </p>
    <img src="/images/img-cafetera-moulinex.jpg" alt="">
    <p> $6.770 </p>
    <p> 40% OFF </p>
    <p> Cafetera Moulinex </p>
    <img src="/images/img-macbook-pro-2019.jpg" alt="">
    <p> $230.000 </p>
    <p> 20% off </p>
    <p> MacBook Pro 2019 </p>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
    <p> $70.500 </p>
    <p> 10% off </p>
    <p> Samsung Galaxy S10 </p>
    <img src="/images/img-tv-samsung-smart.jpg" alt="">
    <p> $23.200</p>
    <p> 5% off </p>
    <p> SmartTv Samsung 43"f </p>


  </main>


  <footer>
    <p>
    <ul>
      <div class="credit-card">
        <i class="fas fa-credit-card"></i>
      </div>
      <li>Pagá con tarjeta o en efectivo</li>
      Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
      
      <div class="gift">
        <i class="fas fa-gift"></i>
      </div>
      <li>Envío gratis desde $ 2.500 </li>
      Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado
      Puntos.
      <div class="security">
        <i class="fas fa-user-shield"></i>
      </div>
      <li>Seguridad, de principio a fin </li>
      ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
      <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>

    </ul>

    </p>

  </footer>

</body>

</html>